body {
  margin: 30px auto;
  max-width: 600px;
  line-height: 28px;
  font-size: 20px;
  padding: 0 10px;
  font-family: "Source Sans Pro","Helvetica Neue","Helvetica,sans-serif";
}
a {
  color: #5C7C00;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}