body {
  margin: 30px auto;
  max-width: 800px;
  line-height: 28px;
  font-size: 22px;
  padding: 0 30px;
  text-align: center;
  font-family: 'Noto Serif', serif;
  background-color: #121212;
  color: #e5e7eb;
}
a {
  color: #4f4d85;
  text-decoration: none;
  margin-right: 15px;
}
a:hover {
  color: #8885ed;
}
.icons {
  padding-top: 10px;
}
